In [ ]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
salary_train=pd.read_csv("/content/SalaryData_Train.csv.txt")

In [ ]:
salary_test=pd.read_csv("/content/SalaryData_Test.csv")

In [ ]:
salary_train.columns
salary_test.columns

Index(['age', 'workclass', 'education', 'educationno', 'maritalstatus',
       'occupation', 'relationship', 'race', 'sex', 'capitalgain',
       'capitalloss', 'hoursperweek', 'native', 'Salary'],
      dtype='object')

In [ ]:
salary_train.shape

(22988, 14)

In [ ]:
salary_test.shape

(15060, 14)

In [ ]:
salary_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22988 entries, 0 to 22987
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            22988 non-null  int64
 1   workclass      22988 non-null  object
 2   education      22988 non-null  object
 3   educationno    22987 non-null  float64
 4   maritalstatus  22987 non-null  object
 5   occupation     22987 non-null  object
 6   relationship   22987 non-null  object
 7   race           22987 non-null  object
 8   sex            22987 non-null  object
 9   capitalgain    22987 non-null  float64
 10  capitalloss    22987 non-null  float64
 11  hoursperweek   22987 non-null  float64
 12  native         22987 non-null  object
 13  Salary         22987 non-null  object
dtypes: float64(4), int64(1), object(9)
memory usage: 2.5+ MB

In [ ]:
salary_train1 = salary_train.dropna()

In [ ]:
salary_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15060 entries, 0 to 15059
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            15060 non-null  int64
 1   workclass      15060 non-null  object
 2   education      15060 non-null  object
 3   educationno    15060 non-null  int64
 4   maritalstatus  15060 non-null  object
 5   occupation     15060 non-null  object
 6   relationship   15060 non-null  object
 7   race           15060 non-null  object
 8   sex            15060 non-null  object
 9   capitalgain    15060 non-null  int64
 10  capitalloss    15060 non-null  int64
 11  hoursperweek   15060 non-null  int64
 12  native         15060 non-null  object
 13  Salary         15060 non-null  object
dtypes: int64(5), object(9)
memory usage: 1.6+ MB

In [ ]:
salary_test1 = salary_test.dropna()

In [ ]:
string_columns=['workclass','education','maritalstatus','occupation','relationship','race','sex','native']

In [ ]:
from sklearn import preprocessing
import warnings
warnings.filterwarnings("ignore")
label_encoder=preprocessing.LabelEncoder()
for i in string_columns:
    salary_train1[i]=label_encoder.fit_transform(salary_train1[i])
    salary_test1[i]=label_encoder.fit_transform(salary_test1[i])

In [ ]:
col_names=list(salary_train.columns)
train_X=salary_train1[col_names[0:13]]
train_Y=salary_train1[col_names[13]]
test_x=salary_test1[col_names[0:13]]
test_y=salary_test1[col_names[13]]

In [ ]:
#Gaussian Naive Bayes
from sklearn.naive_bayes import GaussianNB
Gmodel=GaussianNB()
train_pred_gau=Gmodel.fit(train_X,train_Y).predict(train_X)
test_pred_gau=Gmodel.fit(train_X,train_Y).predict(test_x)
train_acc_gau=np.mean(train_pred_gau==train_Y)
test_acc_gau=np.mean(test_pred_gau==test_y)
train_acc_gau#0.795
test_acc_gau#0.794

0.7967463479415671

In [ ]:
#Multinomial Naive Bayes
from sklearn.naive_bayes import MultinomialNB
Mmodel=MultinomialNB()
train_pred_multi=Mmodel.fit(train_X,train_Y).predict(train_X)
test_pred_multi=Mmodel.fit(train_X,train_Y).predict(test_x)
train_acc_multi=np.mean(train_pred_multi==train_Y)
test_acc_multi=np.mean(test_pred_multi==test_y)
train_acc_multi#0.772
test_acc_multi#0.774

0.7749667994687915